body {
    background: BACKGROUND;
    color: BGTCOLOR;
    font-family: Arial, Helvetica, Sans;
    font-size: 13px;
}
a, a:link, a:visited {
    text-decoration: none;
    color: LINKCOLOR;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
h1 {
    width: 100%;
    text-align: center;
}
h2 {
    text-align: center;
    fint-size: 0.9em;
    clear: both;
}
.hidden {
    display: none;
}
.version {
    font-size: 0.8em;
    float: right;
    padding-right: 40px;
}
.container {
    margin: 2%
}
ul.tabs {
    margin: 9px 0;
}
ul.tabs li {
    list-style: none;
    display: inline;
}
ul.tabs li a {
    color: TEXTCOLOR;
    background-color: BOXCOLOR;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border:1px solid SHADOW;
    border-radius: 1px;
    box-shadow: #445 0 -5px 5px;
    outline: 0;
}
ul.tabs li a:hover {
    background-color: TEXTCOLOR;
    color: BASECOLOR;
}
ul.tabs li a.active {
    background-color: BASECOLOR;
    border-bottom: 1px solid BASECOLOR;
}
.panel {
    background: BASECOLOR;
    color: TEXTCOLOR;
    padding: 15px;
    clear: both;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: auto;
    box-shadow: SHADOW 0 2px 5px;
}
ul.icons {
    clear: both;
}
.icon {
    list-style: none;
    display: inline;
    float: left;
    padding: 5px 0px 15px 10px;
    width: 138px;
    height: 200px;
    background: BOXCOLOR;
    border-radius: 3px;
    margin: 10px;
    box-shadow: SHADOW 0 0px 6px;
}
.icon h4 {
    margin: 3px 0;
    max-width: 90%;
    word-wrap: break-word;
}
.icon img {
    width: 128px;
    height: 128px;
}
.icon p {
    margin: 0;
}
.docbox {
    float: left;
    padding: 10px;
    max-width: 360px;
    background: BOXCOLOR;
    border-radius: 3px;
    margin: 10px;
    box-shadow: SHADOW 0 0px 6px;
}
.docbox h2 {
    text-align: center;
}
.docbox img {
    max-width: 24px;
    max-height: 24px;
}
.allwidth {
    max-width: 98%;
}
h3 a {
    height: 32px;
    vertical-align: middle;
    padding-bottom: 18px;
    padding-left: 5px;
}
#commits ul {
    margin: 30px 0;
    padding: 10px;
}
#commits ul li, .forum ul li {
    margin-bottom: 10px;
}
.footnote {
    text-align: center;
    display: block;
    clear: both;
    padding-top: 10px;
}
ul.workbenches, ul.addonslist {
    overflow: hidden;
    padding: 10px;
}
ul.workbenches li, ul.addonslist li {
    list-style: none;
    float: left;
    display: inline;
    width: 50%;
}
.forum ul {
    padding: 10px;
}
