[submodule "src/3rdParty/OndselSolver"]
	path = src/3rdParty/OndselSolver
	url = https://github.com/Ondsel-Development/OndselSolver.git
[submodule "tests/lib"]
	path = tests/lib
	url = https://github.com/google/googletest
[submodule "src/3rdParty/GSL"]
	path = src/3rdParty/GSL
	url = https://github.com/microsoft/GSL
[submodule "src/3rdParty/libE57Format"]
	path = src/3rdParty/libE57Format
	url = https://github.com/asmaloney/libE57Format

