#git archive --worktree-attributes --prefix=freecad-0.13/ --output=freecad.tar.gz HEAD
acinclude.m4    export-ignore
autogen.sh    export-ignore
build.sh    export-ignore
BuildAll.bat    export-ignore
BuildRelease.ini    export-ignore
BuildRelease.py    export-ignore
configure.ac    export-ignore
Makefile.am    export-ignore
mkinstalldirs    export-ignore
package    export-ignore
fc.sh    export-ignore
UpdateResources.bat    export-ignore
BuildVersion.bat    export-ignore
*.sln    export-ignore
WindowsInstaller    export-ignore
JtReader    export-ignore
Version.h.in    export-subst

