# In case people don't have core.autocrlf set, this will manage the default line-ending
# behaviour
* text=auto

# Explicitly declare which files we wish to always normalize line-endings on
# For now, this is restricted to the Fem workbench
src/Mod/Fem/*.h text
src/Mod/Fem/*.cpp text
src/Mod/Fem/*.csv text
src/Mod/Fem/*.py text
src/Mod/Fem/*.xml text
src/Mod/Fem/*.txt text
src/Mod/Fem/*.md text
src/Mod/Fem/*.ui text
src/Mod/Fem/*.qrc text
src/Mod/Fem/*.bat text
src/Mod/Fem/*.dat text
src/Mod/Fem/*.ts text
src/Mod/Fem/*.unv text
src/Mod/Fem/*.yml text
src/Mod/Fem/*.vtk text
src/Mod/Fem/*.inp text
src/Mod/Fem/*.z88 text
src/Mod/Fem/*.sif text
src/Mod/Fem/*.geo text
src/Mod/Fem/*.frd text

# These files will always be checked out with CRLF, i.e. windows-style line endings. This
# really should not be needed...
# *.SomeWindowsFileExtensionThatReallyRequiresCRLFEvenInLinux eol=crlf

# These files should be ignored as it pertains to line-endings, because they are binary.
*.png binary
*.jpg binary

#git archive --worktree-attributes --prefix=freecad-0.13/ --output=freecad.tar.gz HEAD
acinclude.m4    export-ignore
autogen.sh    export-ignore
build.sh    export-ignore
BuildAll.bat    export-ignore
BuildRelease.ini    export-ignore
BuildRelease.py    export-ignore
configure.ac    export-ignore
Makefile.am    export-ignore
mkinstalldirs    export-ignore
package    export-ignore
fc.sh    export-ignore
UpdateResources.bat    export-ignore
BuildVersion.bat    export-ignore
*.sln    export-ignore
WindowsInstaller    export-ignore
JtReader    export-ignore
mefisto.patch    export-ignore
Version.h.in    export-subst

