# SPDX-FileNotice: Part of the FreeCAD project.

# file types to ignore
.*
!*.gitattributes
!*.gitignore
!/.clang-format
!/.clang-tidy
!/.git-blame-ignore-revs
!/.gitattributes
!/.github/
!/.gitignore
!/.gitmodules
!/.packit.yaml
!/.pre-commit-config.yaml
!/.pylintrc
!/contrib/.vscode/
*.clangd
*.DS_Store
*.dep
*.exp
*.kdev4
*.lib
*.manifest
*.o
*.obj
*.orig
*.output
*.pch
*.pyc
*.vcproj
# Ignore .db files created by Qt Designer when editing .ui files
*.db
*qrc.depends
*~
BuildLog.htm
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
Makefile
cmake_install.cmake
config.h
install_manifest.txt
moc_*.cpp
qrc_*.cpp
ui_*.h
/.vscode/
/ALL_BUILD.dir/
/Mod/
/ZERO_CHECK.dir/
/bin/
/build-*/
/build/
/cmake-build*/
/conda/environment.yml
/doc/
/lib/
/src/Tools/offlinedoc/*.txt
/src/Tools/offlinedoc/localwiki/
OpenSCAD_rc.py
tags
/CMakeUserPresets.json
Testing
compile_commands.json
*.sublime-project
*.sublime-workspace

# crowdin file
files_to_translate.txt
src/Tools/freecad.zip
tsupdate_stderr.log
tsupdate_stdout.log
# pixi environments
*.egg-info
.pixi
