#version:

image: Visual Studio 2017

environment:
  matrix:
    - generator: "Visual Studio 15 2017 Win64"
      ARCH: "Win64"
      Compiler: "MSVC2017"

#cache: #

configuration:
  #- Debug
  - Release

#branches:
#  only:

clone_depth: 1600

# scripts that are called at very beginning, before repo cloning
#init:

#before_build:

# scripts that run after cloning repository
#todo cleanup libpacks on the FreeCAD-ports-cache repo
install:
  - cd C:\projects\freecad
  - if [%ARCH%] == [Win64] (appveyor DownloadFile https://github.com/apeltauer/FreeCAD/releases/download/LibPack_12.1/FreeCADLibs_12.1.2_x64_VC15.7z)
  - if [%ARCH%] == [Win64] (
      powershell -Command 7z x FreeCADLibs_12.1.2_x64_VC15.7z -oFreeCADLibs > nul &&
      call "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64 &&
      dir "C:\Program Files (x86)\" &&
      call "C:\Program Files (x86)\Microsoft Visual Studio 15.9\VC\vcvarsall.bat" x86_amd64)
#  - if [%ARCH%] == [Win32] (appveyor DownloadFile https://github.com/FreeCAD/FreeCAD-ports-cache/releases/download/v0.17/FreeCADLibs_11.5.1_x86_VC12.7z)
#  - if [%ARCH%] == [Win32] (
#      powershell -Command 7z x FreeCADLibs_11.5.1_x86_VC12.7z > nul &&
#      ren FreeCADLibs_11.5_x86_VC12 FreeCADLibs)
  - dir

build_script:
  - cd C:\projects\freecad
  - mkdir build
  - cd build
  - cmake -DFREECAD_LIBPACK_DIR=C:\projects\freecad\FreeCADLibs
    -DBoost_FILESYSTEM_LIBRARY_RELEASE=C:\projects\freecad\FreeCADLibs\lib\boost_filesystem-vc141-mt-x64-1_67.lib
    -DBoost_PROGRAM_OPTIONS_LIBRARY_RELEASE=C:\projects\freecad\FreeCADLibs\lib\boost_program_options-vc141-mt-x64-1_67.lib
    -DBoost_REGEX_LIBRARY_RELEASE=C:\projects\freecad\FreeCADLibs\lib\boost_regex-vc141-mt-x64-1_67.lib
    -DBoost_SYSTEM_LIBRARY_RELEASE=C:\projects\freecad\FreeCADLibs\lib\boost_system-vc141-mt-x64-1_67.lib
    -DBoost_THREAD_LIBRARY_RELEASE=C:\projects\freecad\FreeCADLibs\lib\boost_thread-vc141-mt-x64-1_67.lib
    -DBoost_PYTHON36_LIBRARY_RELEASE=C:\projects\freecad\FreeCADLibs\lib\boost_python36-vc141-mt-x64-1_67.lib
    -DBUILD_FEM_NETGEN=OFF
    -DBUILD_PATH=OFF
    -DBUILD_QT5=ON
    -DBUILD_FEM=OFF
    -DBUILD_ADDONMGR=OFF
    -DBUILD_COMPLETE=OFF
    -DBUILD_ARCH=OFF
    -DBUILD_DRAFT=OFF
    -DBUILD_DRAWING=OFF
    -DBUILD_IMPORT=OFF
    -DBUILD_INSPECTION=OFF
    -DBUILD_MATERIAL=OFF
    -DBUILD_MESH=OFF
    -DBUILD_MESH_PART=OFF
    -DBUILD_OPENSCAD=OFF
    -DBUILD_PATH=OFF
    -DBUILD_PLOT=OFF
    -DBUILD_POINTS=OFF
    -DBUILD_RAYTRACING=OFF
    -DBUILD_REVERSEENGINEERING=OFF
    -DBUILD_ROBOT=OFF
    -DBUILD_SHIP=OFF
    -DBUILD_SHOW=OFF
    -DBUILD_SPREADSHEET=OFF
    -DBUILD_TECHDRAW=OFF
    -DBUILD_SURFACE=OFF
    -G "%generator%" ..
  - mkdir bin
  - xcopy C:\projects\freecad\FreeCADLibs\bin C:\projects\freecad\build\bin /E /Q
  - msbuild /m FreeCAD_Trunk.sln

#after_build:
  - cd C:\projects\freecad\build\bin\
  - FreeCADCmd.exe --run-test 0

#artifacts:

test: off  # to avoid discovering tests

#
# The following section automatically uploads artifacts
# whenever a tag is created on the master branch.
#
#deploy:
