area==1.1.1
cog==0.6.1
ConfigParser==5.3.0
defusedxml==0.7.1
ifcopenshell==0.7.0.230318
ladybug-core==0.42.2
matplotlib==3.6.3
numpy==1.24.2
opencamlib==2023.1.11
packaging==23.0
Pivy==0.6.8
ply==3.11
ptvsd==4.3.2
pyNastran==1.3.4
pyshp==2.3.1
PySide2==5.15.2.1
pysolar==0.10
PyYAML==6.0
requests==2.31.0
rpdb2==2.0.0.1.2
sets==0.3.2
vermin==1.5.1
