<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>21G83</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.freecad.fcstd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QuicklookFCStd</string>
	<key>CFBundleIdentifier</key>
	<string>org.freecad.qlgenerator.QuicklookFCStd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuicklookFCStd</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>YES</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>F70BD796-FE76-450B-83CC-609688F17873</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>F70BD796-FE76-450B-83CC-609688F17873</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13F100</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E226</string>
	<key>DTSDKName</key>
	<string>macosx12.3</string>
	<key>DTXcode</key>
	<string>1341</string>
	<key>DTXcodeBuild</key>
	<string>13F100</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<integer>512</integer>
	<key>QLPreviewWidth</key>
	<integer>512</integer>
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FreeCAD document</string>
			<key>UTTypeIdentifier</key>
			<string>org.freecad.fcstd</string>
			<key>UTTypeReferenceURL</key>
			<string>https://wiki.freecad.org/File_Format_FCStd/id</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>FCStd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
