# 🟩 Core Essentials
Features Necessary to do perform the required function

- Visualize toolpath relative to model and stock
- Inspect/explore toolpath segements

# 🟨 Professional Grade
Features present in the state-of-the art applications and expected

- Simulate the job execution
- Detect collisions, gouging
- Visualize stock remaining
- Detect common errors

# 🟦 Next-Level CAM
Features that would exceed industry standard

