# 🟩 Core Essentials
*Features present or expected in a basic CAM package and necessary to perform the required tasks*

- Visualize toolpath relative to model and stock
- Inspect/explore toolpath segements

# 🟨 Professional Grade
*Features usually present or expected in the state-of-the art applications*

- Show the job origin so the user has a reference point.
- Simulate the job execution
    - realistically render the tool, stock, and models
    - show realistic tool movement
    - show realistic material removal
    - Allow speeding up and slowing down to inspect interesting parts of the
      simulation.

- Detect collisions, gouging
- Detect common errors

# 🟦 Next-Level CAM
*Features that would exceed industry standard*

