# 🟩 Core Essentials
*Features present or expected in a basic CAM package and necessary to perform the required tasks*

- Visualize toolpath relative to model and stock
- Inspect/explore toolpath segements

# 🟨 Professional Grade
*Features usually present or expected in the state-of-the art applications*

- Simulate the job execution
- Detect collisions, gouging
- Visualize stock remaining
- Detect common errors

# 🟦 Next-Level CAM
*Features that would exceed industry standard*

