<?xml version="1.0" encoding="utf-8"?>
<!--
   (c) Juergen Riegel (juergen.riegel@web.de) 2005                       
                                                                        
   This file is part of the FreeCAD CAx development system.             
                                                                        
   This program is free software; you can redistribute it and/or modify 
   it under the terms of the GNU Library General Public License (LGPL)  
   as published by the Free Software Foundation; either version 2 of    
   the License, or (at your option) any later version.                  
   for detail see the LICENCE text file.                                
                                                                        
   FreeCAD is distributed in the hope that it will be useful,           
   but WITHOUT ANY WARRANTY; without even the implied warranty of       
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        
   GNU Library General Public License for more details.                 
                                                                        
   You should have received a copy of the GNU Library General Public    
   License along with FreeCAD; if not, write to the Free Software       
   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 
   USA                                                                  
                                                                        
   Juergen Riegel 2005                                                 
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id="FreeCADModules">
		<!-- Add the 64-bit registry component to the 64-bit MSI, and add the 32-bit registry        -->
		<!-- component to the 32-bit MSI.                                                            -->
		<?if $(var.ProcessorArchitecture)=x64 ?>
		<?define Win_64 = "yes" ?>
		<?else ?>
		<?define Win_64 = "no" ?>
		<?endif ?>
        <DirectoryRef Id="ModDir">
            <?include ModMesh.wxi ?>
            <?include ModPart.wxi ?>
			<?include ModSketcher.wxi ?>
            <?include ModPoints.wxi ?>
            <?include ModImage.wxi ?>
            <?include ModRaytracing.wxi ?>
            <?include ModTest.wxi ?>
            <!--include ModCam.wxi ?-->
            <?include ModComplete.wxi ?>
            <?include ModMeshPart.wxi ?>
            <?include ModFem.wxi ?>
            <?include ModPartDesign.wxi ?>
            <?include ModDrawing.wxi ?>
            <?include ModDraft.wxi ?>
            <?include ModRobot.wxi ?>
            <?include ModInspection.wxi ?>
            <?include ModImport.wxi ?>
            <?include ModStart.wxi ?>
            <?include ModWeb.wxi ?>
            <?include ModArch.wxi ?>
            <?include ModOpenSCAD.wxi ?>
            <?include ModShip.wxi ?>
            <?include ModPlot.wxi ?>
        </DirectoryRef>
    </Fragment>
</Wix>
