<?xml version="1.0" encoding="utf-8"?>
<!--
   (c) Juergen Riegel (juergen.riegel@web.de) 2005                       
                                                                        
   This file is part of the FreeCAD CAx development system.             
                                                                        
   This program is free software; you can redistribute it and/or modify 
   it under the terms of the GNU Library General Public License (LGPL)  
   as published by the Free Software Foundation; either version 2 of    
   the License, or (at your option) any later version.                  
   for detail see the LICENCE text file.                                
                                                                        
   FreeCAD is distributed in the hope that it will be useful,           
   but WITHOUT ANY WARRANTY; without even the implied warranty of       
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        
   GNU Library General Public License for more details.                 
                                                                        
   You should have received a copy of the GNU Library General Public    
   License along with FreeCAD; if not, write to the Free Software       
   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 
   USA                                                                  
                                                                        
   Juergen Riegel 2005                                                 
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="FreeCADBase">
		<!-- Add the 64-bit registry component to the 64-bit MSI, and add the 32-bit registry        -->
		<!-- component to the 32-bit MSI.                                                            -->
		<?if $(var.ProcessorArchitecture)=x64 ?>
		<?define Win_64 = "yes" ?>
		<?else ?>
		<?define Win_64 = "no" ?>
		<?endif ?>
		<DirectoryRef Id="BinDir" FileSource="../../bin/">
			<Component Id="Base" Guid="0EBBDFE7-9FD5-4b2c-BD12-6728D094C6F7" Win64='$(var.Win_64)' KeyPath="yes">
				<File Id="Exe" Name="FreeCAD.exe" />
				<File Id="GuiDll"   Name="FreeCADGui.dll"  />
				<File Id="GuiPyd"   Name="FreeCADGui.pyd"  />
			</Component>
			<Component Id="BaseCmd" Guid="0EBBDFE7-9FD5-4b2c-BD12-6728D094C6F8" Win64='$(var.Win_64)' KeyPath="yes">
				<File Id="CmdExe" Name="FreeCADCmd.exe"/>
				<File Id="PyModule" Name="FreeCAD.pyd"     />
				<File Id="AppDll"   Name="FreeCADApp.dll"  />
				<File Id="BaseDll"  Name="FreeCADBase.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="MenuDir" >
			<Component Id="BaseShortcuts" Guid="06974300-02a5-11df-8a39-0800200c9a66" Win64='$(var.Win_64)'>
				<Shortcut Id="FCShortcut" 
						Name="FreeCAD" 
						Icon="FreeCADIcon.exe"
						Description="FreeCAD gui version" 
						Target = "[BinDir]FreeCAD.exe"
						WorkingDirectory="BinDir" >
						<Icon Id="FreeCADIcon.exe" SourceFile="../../bin/FreeCAD.exe" /> 
						
				</Shortcut>
				<RegistryValue 
					Root="HKCU" 
					Key="Software\Microsoft\FreeCAD" 
					Name="installed"
					Type="integer" 
					Value="1" 
					KeyPath="yes"/>
			</Component>
			<Component Id="BaseCmdShortcuts" Guid="f29d51e0-02a5-11df-8a39-0800200c9a66" Win64='$(var.Win_64)'>
				<Shortcut Id="FCCmdShortcut" 
						Name="command line" 
						Icon="FreeCADCMDIcon.exe"
						Description="FreeCAD command line version" 
						Target = "[BinDir]FreeCADCmd.exe"
						WorkingDirectory="BinDir" >
						<Icon Id="FreeCADCMDIcon.exe"
					          SourceFile="../../bin/FreeCADCmd.exe" />
				</Shortcut>
				<RegistryValue 
					Root="HKCU" 
					Key="Software\Microsoft\FreeCADCmd" 
					Name="installed" 
					Type="integer" 
					Value="1" 
					KeyPath="yes"/>
				<RemoveFolder Id="RmvMenuFolder" Directory="MenuDir" On="uninstall"/>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
