<?xml version="1.0" encoding="utf-8"?>
<!--
   (c) Juergen Riegel (juergen.riegel@web.de) 2005                       
                                                                        
   This file is part of the FreeCAD CAx development system.             
                                                                        
   This program is free software; you can redistribute it and/or modify 
   it under the terms of the GNU Library General Public License (LGPL)  
   as published by the Free Software Foundation; either version 2 of    
   the License, or (at your option) any later version.                  
   for detail see the LICENCE text file.                                
                                                                        
   FreeCAD is distributed in the hope that it will be useful,           
   but WITHOUT ANY WARRANTY; without even the implied warranty of       
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        
   GNU Library General Public License for more details.                 
                                                                        
   You should have received a copy of the GNU Library General Public    
   License along with FreeCAD; if not, write to the Free Software       
   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 
   USA                                                                  
                                                                        
   Juergen Riegel 2005                                                 
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="LibPack">
		<DirectoryRef Id="BinDir" FileSource="../../bin/">
			<!-- Add the 64-bit registry component to the 64-bit MSI, and add the 32-bit registry        -->
			<!-- component to the 32-bit MSI.                                                            -->
			<?if $(var.ProcessorArchitecture)=x64 ?>
			<?define Win_64 = "yes" ?>
			<?else ?>
			<?define Win_64 = "no" ?>
			<?endif ?>
			<Component Id="LibPackBinaries" Guid="515D7157-403B-4085-AC2F-0DC95A47F2D4" Win64='$(var.Win_64)' KeyPath="yes">
				<File Id="PythonExe" Name="python.exe">
<!--					<Shortcut Id="PythonShortcut" 
						Directory="MenuDir" 
						Name="Python console" 
						Icon="PythonIcon.exe"
						Description="Starts directly the python console" 
						WorkingDirectory="BinDir"
						Advertise="no" >
						<Icon Id="PythonIcon.exe"
					          SourceFile="../../bin/python.exe" />
					</Shortcut>-->

				</File>
				<!-- LibPack for x64 uses some newer library versions -->
				<?if $(var.ProcessorArchitecture)=x64 ?>
				<File Id="LibPack1" Name="boost_date_time-vc90-mt-1_41.dll" />
				<File Id="LibPack2" Name="boost_filesystem-vc90-mt-1_41.dll" />
				<File Id="LibPack3" Name="boost_iostreams-vc90-mt-1_41.dll" />
				<File Id="LibPack4" Name="boost_program_options-vc90-mt-1_41.dll" />
				<File Id="LibPack5" Name="boost_regex-vc90-mt-1_41.dll"  />
				<File Id="LibPack6" Name="boost_serialization-vc90-mt-1_41.dll"  />
				<File Id="LibPack7" Name="boost_signals-vc90-mt-1_41.dll"  />
				<File Id="LibPack8" Name="boost_thread-vc90-mt-1_41.dll" />
				<File Id="LibPack9" Name="boost_wserialization-vc90-mt-1_41.dll"  />
				<File Id="LibPack11" Name="boost_system-vc90-mt-1_41.dll"  />
				<?else ?>
				<File Id="LibPack1" Name="boost_date_time-vc90-mt-1_48.dll" />
				<File Id="LibPack2" Name="boost_filesystem-vc90-mt-1_48.dll" />
				<File Id="LibPack3" Name="boost_iostreams-vc90-mt-1_48.dll" />
				<File Id="LibPack4" Name="boost_program_options-vc90-mt-1_48.dll" />
				<File Id="LibPack5" Name="boost_regex-vc90-mt-1_48.dll"  />
				<File Id="LibPack6" Name="boost_serialization-vc90-mt-1_48.dll"  />
				<File Id="LibPack7" Name="boost_signals-vc90-mt-1_48.dll"  />
				<File Id="LibPack8" Name="boost_thread-vc90-mt-1_48.dll" />
				<File Id="LibPack9" Name="boost_wserialization-vc90-mt-1_48.dll"  />
				<File Id="LibPack11" Name="boost_system-vc90-mt-1_48.dll"  />
				<?endif ?>
				<File Id="LibPack10" Name="sip.pyd"  />
                <File Id="LibPack15" Name="pyexpat.pyd"  />
                <File Id="LibPack16" Name="select.pyd"   />
                <File Id="LibPack17" Name="unicodedata.pyd"   />
                <File Id="LibPack18" Name="winsound.pyd"   />
				<!-- No libs for CAM at the moment 
				<File Id="LibPack11" Name="atlas.dll"  />
				<File Id="LibPack12" Name="ANN.dll"  />
				-->
				<File Id="LibPack13" Name="coin3.dll"  />
				<!-- <File Id="LibPack20" Name="libumfpack.dll"  /> -->
				<File Id="LibPack25" Name="_socket.pyd"   />
				<File Id="LibPack26" Name="python26.dll"   />
				<File Id="LibPack27" Name="python26.zip"   />
				<File Id="LibPack29" Name="soqt1.dll"   />
				<File Id="LibPack41" Name="QtCore4.dll"   />
				<File Id="LibPack42" Name="QtDesigner4.dll"   />
				<File Id="LibPack43" Name="QtDesignerComponents4.dll"   />
				<File Id="LibPack44" Name="QtGui4.dll"   />
				<File Id="LibPack45" Name="QtNetwork4.dll"   />
				<File Id="LibPack46" Name="QtOpenGL4.dll"   />
				<File Id="LibPack47" Name="QtSql4.dll"   />
				<File Id="LibPack48" Name="QtSvg4.dll"   />
				<File Id="LibPack49" Name="QtTest4.dll"   />
				<File Id="LibPack50" Name="QtXml4.dll"   />
				<File Id="LibPack51" Name="QtWebKit4.dll"   />
				<File Id="LibPack55" Name="QtHelp4.dll"   />
				<File Id="LibPack56" Name="QtCLucene4.dll"   />
				<File Id="LibPack52" Name="phonon4.dll"   />
				<File Id="LibPack54" Name="assistant.exe"   />
				<File Id="LibPack61" Name="TKBO.dll"   />
				<File Id="LibPack62" Name="TKBool.dll"   />
				<File Id="LibPack63" Name="TKBRep.dll"   />
				<File Id="LibPack64" Name="TKernel.dll"   />
				<File Id="LibPack65" Name="TKFillet.dll"   />
				<File Id="LibPack66" Name="TKG2d.dll"   />
				<File Id="LibPack67" Name="TKG3d.dll"   />
				<File Id="LibPack68" Name="TKGeomAlgo.dll"   />
				<File Id="LibPack69" Name="TKGeomBase.dll"   />
				<File Id="LibPack70" Name="TKHLR.dll"   />
				<File Id="LibPack71" Name="TKIGES.dll"   />
				<File Id="LibPack72" Name="TKMath.dll"   />
				<File Id="LibPack73" Name="TKMesh.dll"   />
				<File Id="LibPack74" Name="TKMeshVS.dll"   />
				<File Id="LibPack75" Name="TKOffset.dll"   />
				<File Id="LibPack76" Name="TKPrim.dll"   />
				<File Id="LibPack77" Name="TKService.dll"   />
				<File Id="LibPack78" Name="TKShHealing.dll"   />
				<File Id="LibPack79" Name="TKSTEP209.dll"   />
				<File Id="LibPack80" Name="TKSTEP.dll"   />
				<File Id="LibPack81" Name="TKSTEPAttr.dll"   />
				<File Id="LibPack82" Name="TKSTEPBase.dll"   />
				<File Id="LibPack83" Name="TKSTL.dll"   />
				<File Id="LibPack84" Name="TKTopAlgo.dll"   />
				<File Id="LibPack85" Name="TKXSBase.dll"   />
				<?if $(var.ProcessorArchitecture)=x64 ?>
				<File Id="LibPack86" Name="xerces-c_3_1.dll"   />
				<?else ?>
				<File Id="LibPack86" Name="xerces-c_2_8.dll"   />
				<?endif ?>
				<File Id="LibPack87" Name="zlib1.dll"   />
				<File Id="LibPack88" Name="TKAdvTools.dll"   />
				<File Id="LibPack89" Name="TKV2d.dll"   />
				<File Id="LibPack90" Name="TKV3d.dll"   />
				<File Id="LibPack91" Name="Driver.dll"   />
				<File Id="LibPack92" Name="DriverDAT.dll"   />
				<File Id="LibPack93" Name="DriverSTL.dll"   />
				<File Id="LibPack94" Name="DriverUNV.dll"   />
				<File Id="LibPack95" Name="MEFISTO2.dll"   />
				<File Id="LibPack96" Name="MEFISTO2F.dll"   />
				<File Id="LibPack97" Name="SMDS.dll"   />
				<File Id="LibPack98" Name="SMESH.dll"   />
				<File Id="LibPack99" Name="SMESHDS.dll"   />
				<File Id="LibPack100" Name="StdMeshers.dll"   />
				<File Id="LibPack101" Name="TKCAF.dll"   />
				<File Id="LibPack102" Name="TKCDF.dll"   />
				<File Id="LibPack103" Name="TKLCAF.dll"   />
				<File Id="LibPack104" Name="TKXCAF.dll"   />
				<File Id="LibPack105" Name="TKXDEIGES.dll"   />
				<File Id="LibPack106" Name="TKXDESTEP.dll"   />
				<File Id="LibPack107" Name="TKFeat.dll"   />
            </Component>
			<Directory Id="ImageFormDir" Name="imageformats" FileSource="../../bin/imageformats" >
				<Component Id="ImageForm"  Guid="2139da00-a109-11dd-ad8b-0800200c9a66" Win64='$(var.Win_64)' KeyPath="yes">
					<File Id="ImageForm1" Name="qgif4.dll"   />
					<File Id="ImageForm2" Name="qjpeg4.dll"   />
					<File Id="ImageForm3" Name="qmng4.dll"   />
					<File Id="ImageForm4" Name="qsvg4.dll"   />
					<File Id="ImageForm5" Name="qtiff4.dll"   />
				</Component>			
			</Directory>
			<Directory Id="accessibleDir" Name="accessible" FileSource="../../bin/accessible" >
				<Component Id="accessible"  Guid="f5800b90-a109-11dd-ad8b-0800200c9a66" Win64='$(var.Win_64)' KeyPath="yes">
					<File Id="accessible1" Name="qtaccessiblecompatwidgets4.dll"   />
					<File Id="accessible2" Name="qtaccessiblewidgets4.dll"   />
				</Component>			
			</Directory>
			<Directory Id="codecsDir" Name="codecs" FileSource="../../bin/codecs" >
				<Component Id="codecs"  Guid="641d0030-a10a-11dd-ad8b-0800200c9a66" Win64='$(var.Win_64)' KeyPath="yes">
					<File Id="codecs1" Name="qcncodecs4.dll"   />
					<File Id="codecs2" Name="qjpcodecs4.dll"   />
					<File Id="codecs3" Name="qkrcodecs4.dll"   />
					<File Id="codecs4" Name="qtwcodecs4.dll"   />
				</Component>			
			</Directory>
			<Directory Id="iconenginesDir" Name="iconengines" FileSource="../../bin/iconengines" >
				<Component Id="iconengines"  Guid="c65a8970-a10a-11dd-ad8b-0800200c9a66" Win64='$(var.Win_64)' KeyPath="yes">
					<File Id="iconengines1" Name="qsvgicon4.dll"   />
				</Component>			
			</Directory>
			<Directory Id="sqldriversDir" Name="sqldrivers" FileSource="../../bin/sqldrivers" >
				<Component Id="sqldrivers"  Guid="16bcd850-a10b-11dd-ad8b-0800200c9a66" Win64='$(var.Win_64)' KeyPath="yes">
					<File Id="sqldrivers1" Name="qsqlite4.dll"   />
				</Component>			
			</Directory>
			<Directory Id="PivyDir" Name="pivy" FileSource="../../bin/pivy" >
				<Component Id="PivyTop"  Guid="b18123c0-3fb0-4cc0-85e8-f71038172b34" Win64='$(var.Win_64)' KeyPath="yes">
					<File Id="Pivy1" Name="__init__.py"   />
					<File Id="Pivy2" Name="_coin.pyd"   />
					<File Id="Pivy3" Name="coin.py"   />
					<File Id="Pivy4" Name="sogui.py"   />
				</Component>
				<Directory Id="PivyGuiDir" Name="gui" FileSource="../../bin/pivy/gui" >
					<Component Id="PivyGui"  Guid="9829370b-fad4-4606-9802-6ff90ad8474e" Win64='$(var.Win_64)' KeyPath="yes">
						<File Id="Pivy5" Name="__init__.py"   />
						<File Id="Pivy6" Name="_soqt.pyd"   />
						<File Id="Pivy7" Name="soqt.py"   />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="PyQtDir" Name="PyQt4" FileSource="../../bin/PyQt4" >
				<Component Id="PyQtTop"  Guid="17b2fc4c-61e2-447e-95af-5b65cad125aa" Win64='$(var.Win_64)' KeyPath="yes">
					<File Id="PyQt1" Name="__init__.py"   />
					<File Id="PyQt4" Name="pyqtconfig.py"   />
					<File Id="PyQt6" Name="Qt.pyd"   />
					<File Id="PyQt7" Name="QtAssistant.pyd"   />
					<File Id="PyQt8" Name="QtCore.pyd"   />
					<File Id="PyQt9" Name="QtDesigner.pyd"   />
					<File Id="PyQt10" Name="QtGui.pyd"   />
					<File Id="PyQt11" Name="QtNetwork.pyd"   />
					<File Id="PyQt12" Name="QtOpenGL.pyd"   />
					<File Id="PyQt13" Name="QtScript.pyd"   />
					<File Id="PyQt14" Name="QtSql.pyd"   />
					<File Id="PyQt15" Name="QtSvg.pyd"   />
					<File Id="PyQt16" Name="QtTest.pyd"   />
					<File Id="PyQt17" Name="QtXml.pyd"   />
					<File Id="PyQt18" Name="QtHelp.pyd"   />
					<File Id="PyQt19" Name="QtScriptTools.pyd"   />
					<File Id="PyQt21" Name="QtWebKit.pyd"   />
					<File Id="PyQt22" Name="QtXmlPatterns.pyd"   />
				</Component>
				<Directory Id="PyQtUicDir" Name="uic" FileSource="../../bin/PyQt4/uic" >
					<Component Id="PyQtUic"  Guid="c81a900c-8292-4631-9b52-25ac825b99c8" Win64='$(var.Win_64)' KeyPath="yes">
						<File Id="PyQt_18" Name="__init__.py"   />
						<File Id="PyQt_19" Name="exceptions.py"   />
						<File Id="PyQt_20" Name="objcreator.py"   />
						<File Id="PyQt_21" Name="properties.py"   />
						<File Id="PyQt_22" Name="pyuic.py"   />
						<File Id="PyQt_23" Name="uiparser.py"   />
					</Component>
					<Directory Id="PyQtCompilerDir" Name="Compiler" FileSource="../../bin/PyQt4/uic/Compiler" >
						<Component Id="PyQtCompiler"  Guid="f20f3c7f-5550-48e4-b769-5d6658a1fb4e" Win64='$(var.Win_64)' KeyPath="yes">
							<File Id="PyQt24" Name="__init__.py"   />
							<File Id="PyQt25" Name="compiler.py"   />
							<File Id="PyQt26" Name="indenter.py"   />
							<File Id="PyQt27" Name="qobjectcreator.py"   />
							<File Id="PyQt28" Name="qtproxies.py"   />
						</Component>											
					</Directory>
					<Directory Id="PyQtLoaderDir" Name="Loader" FileSource="../../bin/PyQt4/uic/Loader" >
						<Component Id="PyQtLoader"  Guid="3f0dfb67-fd56-4928-83f4-148a7f4bf115" Win64='$(var.Win_64)' KeyPath="yes">
							<File Id="PyQt29" Name="__init__.py"   />
							<File Id="PyQt30" Name="loader.py"   />
							<File Id="PyQt31" Name="qobjectcreator.py"   />
						</Component>											
					</Directory>
					<Directory Id="PyQtWidgetPluginsDir" Name="widget-plugins" FileSource="../../bin/PyQt4/uic/widget-plugins" >
						<Component Id="PyQtWidgetPlugins"  Guid="6f4ee199-1574-4989-86c9-2f05036a3a44" Win64='$(var.Win_64)' KeyPath="yes">
							<File Id="PyQt32" Name="qaxcontainer.py"   />
							<File Id="PyQt33" Name="qscintilla.py"   />
							<File Id="PyQt34" Name="qtwebkit.py"   />
						</Component>											
					</Directory>
				</Directory>
				<!--
				<Directory Id="PyQtQwt5Dir" Name="Qwt5" FileSource="../../bin/PyQt4/Qwt5" >
					<Component Id="PyQtQwt5"  Guid="40fefaa5-e488-429f-a360-170aef59814c" Win64='$(var.Win_64)' KeyPath="yes">
						<File Id="PyQt35" Name="__init__.py"   />
						<File Id="PyQt36" Name="anynumpy.py"   />
						<File Id="PyQt37" Name="Qwt.pyd"   />
					</Component>
				</Directory>
				-->
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>