[workspace]
channels = [
    "https://prefix.dev/pixi-build-backends",
    "freecad",
    "conda-forge",
]
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64", "win-64"]
preview = ["pixi-build"]

[package]
name = "freecad"
version = "1.1.0rc3"
homepage = "https://freecad.org"
repository = "https://github.com/FreeCAD/FreeCAD"
description = "FreeCAD"

[package.build]
backend = { name = "pixi-build-rattler-build", version = "*" }

[feature.freecad.dependencies]
freecad = { path = "." }

[feature.package.dependencies]
python = ">=3.11,<3.12"

[feature.package.tasks]
create_bundle = 'bash -c "cd $(bash scripts/get_os.bash) && bash create_bundle.sh"'

## Linux (x86-64)
[feature.package.target.linux-64.dependencies]
coreutils = "*"
xcb-util-cursor = "==0.1.5"  ## hack to address https://github.com/FreeCAD/FreeCAD/issues/26726

## Linux (aarch64)
[feature.package.target.linux-aarch64.dependencies]
coreutils = "*"
xcb-util-cursor = "==0.1.5"  ## hack to address https://github.com/FreeCAD/FreeCAD/issues/26726

## macOS (Intel)
[feature.package.target.osx-64.dependencies]
coreutils = "*"
dmgbuild = "*"
pyobjc-framework-Quartz = "*"
sed = "*"

## macOS (Apple Silicon)
[feature.package.target.osx-arm64.dependencies]
coreutils = "*"
dmgbuild = "*"
pyobjc-framework-Quartz = "*"
sed = "*"

## Windows dependencies (x86-64)
[feature.package.target.win-64.dependencies]
git = "*"
nsis = { version = "*", build = "*_log*" }
7zip = "*"
vs2022_win-64 = "*"

[environments]
default = ["freecad"]
package = ["package"]
