name: Fedora Daily Build
permissions:
  contents: read
on:
  schedule:
   - cron: "00 00 * * *"
  workflow_dispatch:

jobs:
  trigger-copr-build:
    environment: fedora-daily
    env:
      copr_login: ${{ secrets.COPR_LOGIN }}
      copr_username: ${{ secrets.COPR_USERNAME }}
      copr_token: ${{ secrets.COPR_TOKEN }}
    runs-on: ubuntu-latest
    container: quay.io/packit/packit
    steps:
    - name: setup copr token
      run: |
        mkdir -p ~/.config
        echo \
        "[copr-cli]
        login = $copr_login
        username = $copr_username
        token = $copr_token
        copr_url = https://copr.fedorainfracloud.org
        " > ~/.config/copr
    - name: checkout sources
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 500
        fetch-tags: true
    - name: Setup safe Git directory
      run: git config --global --add safe.directory $GITHUB_WORKSPACE
    - name: trigger copr build
      run: |
        packit build in-copr --project freecad
